.App {
	@apply w-full min-h-screen bg-[#302C42] flex justify-center font-[Montserrat];
	.firstH2 {
		@apply text-white font-bold text-4xl leading-[43.8px] mb-[10px];
	}
	.secondH2 {
		@apply text-white font-light text-4xl leading-[43.8px];
	}
	.text {
		@apply text-base text-white leading-[28px];
	}
	.text12 {
		@apply text-xs text-white leading-5;
	}
	.text14 {
		@apply text-sm text-white;
	}

	button {
		@apply rounded-[40px] text-[#343045] bg-gradient-to-r from-[#8176AF] to-[#C0B7E8] uppercase font-bold text-xs bg-clip-padding;
	}
	input.button {
		@apply rounded-[40px] text-[#343045] bg-gradient-to-r from-[#8176AF] to-[#C0B7E8] uppercase font-bold text-xs bg-clip-padding;
	}
	h3 {
		@apply font-bold text-2xl text-white mb-[10px];
	}
	.appWrapper {
		@apply w-[1440px] px-[84px] py-[50px];

		header {
			@apply flex font-bold text-xs text-white uppercase mb-24;
			.logo {
				@apply flex items-center mr-[205px];
				.logoImg {
					@apply w-[105px] h-[105px] mr-[15px];
				}
				.logoText {
					@apply w-[76px] h-[46px];
				}
			}
			.headerNav {
				@apply flex items-center justify-around mr-[140px];
				a {
					@apply mr-[42px] last:mr-0;
				}
			}
			.buttons {
				@apply flex items-center;
				button {
					@apply first:mr-[38px] px-[34px] py-[17px] first:border-2 first:text-white first:bg-none;
				}
			}
		}

		main {
			@apply relative;
			.home {
				@apply flex relative;
				.vector1 {
					@apply absolute top-[20px] left-[-80px];
				}
				.vector2 {
					@apply absolute right-8 top-[-250px];
				}
				.vector3 {
					@apply absolute right-[-80px] top-[-80px];
				}
				.vector4 {
					@apply absolute right-[-80px] top-[145px];
				}
				.leftSide {
					@apply w-1/2 pt-11;
					h1 {
						@apply font-bold text-[40px] w-[456px] leading-[57px] text-white mb-[36px];
						.spanFirst {
							@apply font-bold text-[46px];
							background-image: linear-gradient(90deg, #c0b7e8, #8176af);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
						.spanSecond {
							@apply font-bold text-[46px];
							background-image: linear-gradient(90deg, #8176af, #c0b7e8);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
					p {
						@apply w-[450px] leading-7 font-normal mb-[66px];
					}
					.buttonArrow {
						@apply flex items-center;
						.homeButton {
							@apply py-[17px] px-[40px] mr-10;
						}
						img {
							@apply w-[42px] h-[33px];
						}
					}
				}
				.rightSide {
					@apply w-1/2 flex justify-end mr-[15px] mb-[100px] z-20;
					img {
						@apply w-[490px] h-[426px] border-[15px] border-black/10 rounded-[100px] rounded-bl-[200px] shadow;
					}
				}
			}
			.homeContacts {
				@apply w-[1272px] h-[167px] rounded-[100px] py-[25px] flex pl-[39px] items-center shadow z-20 absolute;
				background: linear-gradient(
					to right,
					#211e2e,
					rgb(58, 52, 86),
					#211e2e
				);
				.locationImage {
					@apply w-[70px] h-[70px];
				}
				.callImage {
					@apply w-[59px] h-[59px] mr-[29px];
				}
				.mailImage {
					@apply w-[65px] h-[65px] ml-[2.5px] mr-[23px];
				}
				.verticalLine {
					@apply mr-[47.5px];
				}
				.visit {
					@apply w-[332px];
				}
				.call {
					@apply w-[235px];
				}
				.message {
				}
			}
			.aboutServicesArrow {
				@apply absolute right-[130px] bottom-[-15px];
			}
			.about {
				@apply grid grid-cols-2 mt-[257px] mb-[100px] relative;

				.aboutVector1 {
					@apply absolute top-[250px] scale-110;
				}
				.aboutVector2 {
					@apply absolute top-[540px] scale-110;
				}

				.firstTitle {
					@apply relative;
				}
				.firstDiscription {
					@apply w-[650px] ml-[-22px];
				}

				.aboutImage {
					@apply h-[557px] mt-[100px] z-20;
					img {
						@apply w-[524px] h-[557px] rounded-tr-[100px] rounded-bl-[100px] rounded-br-[200px] rounded-tl-[200px];
					}
				}
				.imageDiscription {
					@apply flex justify-center flex-col mt-[100px];
					.imageDiscriptionWrapper {
						.secondH2 {
							@apply mb-[42px];
						}
						p {
							@apply mb-[28px];
						}
					}
					button {
						@apply w-[214px] h-[48px];
					}
				}
			}

			.services {
				@apply relative;
				.servicesTitleDiscription {
					@apply flex mt-[111px] mb-[102px];
					.servicesTitle {
						@apply relative w-1/2;
					}
					.servicesDiscription {
						@apply w-[650px] ml-[-22px];
					}
				}
				.servicesVector {
					@apply absolute top-[360px] scale-110;
				}
				.servicesList {
					@apply flex mb-[114px];
					.servicesItem {
						background: radial-gradient(#433d60, 40%, #211e2e);
						@apply z-20 rounded-[40px] flex flex-col justify-center mr-[11px] last:mr-0 pt-[23px] pb-[40px] px-[25px];
						.itemIcon {
							@apply mb-[21px] rounded-full border-[#0E0E0E]/30 border-[14px] shadow-[#433d60]/30 shadow-xl;
						}
						.itemHeader {
							@apply mb-[17.5px] uppercase text-center;
						}
						.horizontalLine {
							@apply mb-[21.5px] w-[154px] ml-[53.5px];
						}
						p {
							@apply mb-[35px];
						}
						button {
							@apply px-[39px] pt-[16px] pb-[17px] w-[154px] h-[48px] ml-[53px];
						}
					}
				}
			}

			.technologies {
				@apply relative pb-[15px] mb-[60px];
				.techHead {
					background-image: url(./images/technologies/techBg.png);
					@apply z-20 w-[1278px] h-[303px] rounded-[200px] bg-black flex flex-col items-center pt-[108px] mb-[60px];
					.firstH2 {
						@apply mb-[11px];
					}
					.secondH2 {
						@apply mb-[46px];
					}
					button {
						@apply p-[5px] border-[#0E0E0E]/30 border-[15px] rounded-full;
						img {
							@apply w-[60px];
						}
					}
				}
				.techCompaniesList {
					@apply flex items-center;
					.techCompaniesItem {
						img {
						}
						.unreal {
							@apply ml-[69px] mr-[91px];
						}
						.unity {
							@apply mr-[71px];
						}
						.oculus {
							@apply mr-[56px];
						}
						.vive {
						}
					}
				}
			}

			.howTo {
				.howToTitleDiscription {
					@apply flex items-center mb-[124px];
					.howToTitle {
						@apply relative w-[557px] mr-[55px];
						.firstH2 {
							@apply mb-[15px];
						}
						.secondH2 {
						}
						.howToArrow {
							@apply absolute top-[30px] left-[335px];
						}
					}
					.howToDiscription {
						@apply w-[652px];
						.text {
						}
					}
				}
				.howToList {
					@apply flex justify-around relative mb-[112px];
					.howToVector {
						@apply absolute scale-110 top-[-5px];
					}
					li {
						@apply z-20;
						button {
							@apply w-[179px] h-[179px] text-[67px] rounded-full border-[#0E0E0E]/30 border-[20px] mb-[20px];
						}
						.arrowH3 {
							@apply flex relative;
							img {
								@apply w-[67px] absolute top-[-17px];
							}
						}
						.arrowH3.one {
							img {
								@apply left-[-50px];
							}
							h3 {
								@apply w-[187px] ml-[15px];
							}
						}
						.arrowH3.two {
							img {
								@apply left-[-30px];
							}
							h3 {
								@apply w-[140px] ml-[35px];
							}
						}
						.arrowH3.three {
							img {
								@apply left-[-35px];
							}
							h3 {
								@apply w-[157px] ml-[30px];
							}
						}
						.arrowH3.four {
							img {
								@apply left-[-30px];
							}
							h3 {
								@apply w-[117px] ml-[35px];
							}
						}
					}
				}
			}

			.join {
				@apply flex flex-col items-center pt-[90px] pb-[84px] px-[110px] rounded-[100px] shadow px-[110px] mb-[122.5px];
				background: radial-gradient(#403a5f, 20%, #1e1b2b);
				img {
					@apply mt-[25px] mb-[21px];
				}
				form {
					@apply flex flex-col items-center mt-[65px];
					input,
					textarea {
						@apply bg-white/0 pt-[27px] pb-[26px] px-[42px] border-[2px] border-white rounded-[40px] mb-[21px] outline-none;
					}
					textarea {
						@apply w-[1058px] h-[210px] resize-none;
					}
					input.button {
						@apply w-[214px] h-[48px] px-[55px] pb-[17px] pt-[16px] border-0;
					}
					.forms {
						@apply grid grid-cols-2 gap-3 w-[1055px];
					}
				}
			}
		}

		footer {
			@apply text-white font-bold;
			.topFooter {
				@apply text-base  flex mb-[70px];
				.logo {
					img {
						@apply w-[185px] h-[187px] mr-[100px];
					}
				}
				.verLine {
					@apply h-[196px];
				}
				li {
					@apply mb-5;
				}
				.footerNav {
					@apply ml-[81px] mr-[104px];
					ul {
						li {
							a {
							}
						}
					}
				}
				.links {
					@apply ml-[107px] mr-[69px];
					ul {
						li {
							a {
							}
						}
					}
				}
				.socialLinks {
					@apply ml-[71px];

					p {
						@apply mb-[39px];
					}
					.href {
						@apply flex mb-[49px];
						a {
							@apply mr-[20px];
							img {
							}
						}
					}
					button {
						@apply pt-[17px] pb-[16px] pl-[38px] pr-[43px];
					}
				}
			}
			.horizontLine {
				@apply mb-[49px];
			}
			.bottomFooter {
				.footerText {
					@apply text-center;
				}
			}
		}
	}
}
